@import "./helpers";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(224, 224, 224);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.v-stepper,
.v-stepper--alt-labels .v-stepper-header {
  box-shadow: none !important;
}

.v-stepper .v-window {
  padding-top: 10px;
}

.close-dialog-btn {
  position: absolute;
  left: 0;
  margin-top: -20px;
}
.wrapper-steppy {
  padding: 20px !important;
  @media (max-width: 600px) {
    padding: 0 !important;
  }
  .steppy-item-title {
    max-width: 80px;
  }

  .steppy-pane {
    box-shadow: none !important;

    @media (max-width: 600px) {
      padding: 15px !important;
    }
    @media (max-width: 450px) {
      padding: 20px 0 0 0 !important;
    }
  }

  .steppy {
    .steppy-progress .steppy-progress-bar {
      right: 0 !important;
    }
    .number {
      font-size: 16px !important;
    }
  }
  .steppy-pane {
    padding-top: 12px !important;
    border-radius: 0 !important;
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-width: 600px) {
      max-height: 350px !important;
      padding: 12px 10px !important;
    }
  }
  .controls {
    gap: 10px !important;
  }
}
ul:not(.v-pagination__list) {
  list-style: inside !important;
}
.v-theme--light {
  .border-table {
    th,
    td {
      border: 1px solid #dfdfdf !important;
    }
    thead {
      background: #fafafa;

      th {
        height: 50px !important;
        font-weight: bold !important;
      }
    }
  }
  thead,
  tr {
    border: 1px solid #dfdfdf !important;
  }
  thead,
  tr:nth-child(even) {
    background: #fafafa;
  }
  .v-expansion-panels {
    z-index: auto !important;
  }
}

.vue__time-picker {
  width: 100% !important;
  margin-top: 5px !important;
}
.vue__time-picker input.vue__time-picker-input {
  outline: none !important;
  width: 100% !important;
  height: 40px !important;
  border-radius: 4px !important;
}
.vue__time-picker .controls {
  left: 0 !important;
}
.vue__time-picker .dropdown ul li:not([disabled]).active {
  background: #81b199 !important;
}

.vue__time-picker .dropdown {
  width: 12em !important;

  .select-list {
    width: 100% !important;
  }
}

.minutes .hint,
.apms .hint,
.hours .hint {
  position: absolute !important;
  background: #ffffff !important;
  width: 58px !important;
}

.minutes li:nth-child(2),
.hours li:nth-child(2),
.apms li:nth-child(2) {
  margin-top: 30px !important;
}
